/* Default Styles */
/* colors */
* {
  box-sizing: border-box; }

a {
  color: #DC5E5B;
  text-decoration: none; }
  a:hover {
    color: #415169;
    text-decoration: underline; }

body {
  color: #415169;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100; }

img {
  width: 100%; }

li {
  list-style: none; }

strong {
  font-weight: 300; }

ul {
  margin: 0;
  padding: 0; }

body {
  color: red; }
